@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*reset*/
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  border-style: solid;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  font-family: "Montserrat", "Liberation Sans";
  min-height: 100vh;
  margin: 0;
}
body .left {
  background: center/cover no-repeat url("./images/background.jpeg");
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;
}
body .left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(49, 50, 55, 0.6);
  max-height: 15vh;
  width: 100%;
  gap: 5%;
}
body .left .logo div {
  font-size: 5em;
  letter-spacing: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  user-select: none;
}
body .left .logo img {
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}
body .left .credit {
  font-size: 0.7em;
  color: white;
  text-align: center;
  margin-top: auto;
  margin-bottom: 5px;
}
body .right {
  min-width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d3cec8;
}
body .right .intro {
  padding: 5%;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.5;
}
body .right .input-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5%;
  padding-right: 15%;
  background-color: #f5f4f3;
  box-shadow: 1px 2px 3px #b1a89e;
}
body .right .input-box h1 {
  font-weight: bold;
  font-size: 1.2em;
}
body .right .input-box .form {
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 0.7em;
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}
body .right .input-box .form input, body .right .input-box .form label {
  margin: 7px;
  display: block;
}
body .right .input-box .form input {
  background-color: #eae7e4;
  border-radius: 3px;
  border-width: 1px;
  border-color: #dedbd6;
  padding: 2px;
}
body .right .input-box .form input:hover, body .right .input-box .form input:focus {
  outline: none !important;
  border-color: #b1a89e;
  box-shadow: 1px 1px 2px #bcb5ac;
}
body .right .foot {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5%;
}
body .right .foot button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  max-width: 150px;
  background-color: #43533f;
  box-shadow: 1px 2px 3px #b1a89e;
}
body .right .foot button:hover {
  background-color: #728d6b;
}
body .right .foot button:active {
  background-color: #d3cec8;
  color: black;
}
body .right .foot a {
  color: #728d6b;
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
